In [1]:
# import da biblioteca
import pandas as pd

# Unindo os datasets genome-scores e genome-tags pelo tagId

In [4]:
# Carregando a dataset genome-scores
genome_scores = pd.read_csv('C:/Users/ASUS/Desktop/Testes Elo7/Dataset/genome-scores.csv')
print(genome_scores.shape)
genome_scores.head()

(11709768, 3)

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [5]:
# Carregando o dataset genome-tags
genome_tags = pd.read_csv('C:/Users/ASUS/Desktop/Testes Elo7/Dataset/genome-tags.csv')
print(genome_tags.shape)
genome_tags.head()

(1128, 2)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [6]:
# Unindo os datasets genome-scores e genome-sets
genome_scores_tags = genome_scores.set_index('tagId').join(genome_tags.set_index('tagId'))

In [7]:
#verificando o dataset
print(genome_scores_tags.shape)
genome_scores_tags.head()

(11709768, 3)

       movieId  relevance  tag
tagId
1            1    0.02500  007
1            2    0.03975  007
1            3    0.04350  007
1            4    0.03725  007
1            5    0.04200  007

In [8]:
# Salvando o dataset
genome_scores_tags.to_csv('genome_scores_tags.csv', index=False)

# Unindo os datasets ratings e tags pelo userId

In [ ]:
# Carregando o dataset ratings
ratings = pd.read_csv('C:/Users/ASUS/Desktop/Testes Elo7/Dataset/ratings.csv')
print(ratings.shape)
ratings.head()

In [6]:
# Carregando o dataset tags
tags = pd.read_csv('C:/Users/ASUS/Desktop/Testes Elo7/Dataset/tags.csv')
print(tags.shape)
tags.head()

(465564, 4)

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [7]:
#retirando o atributo userid do dataset tags
tags.drop('timestamp',axis=1, inplace=True)
tags.head()

   userId  movieId            tag
0      18     4141    Mark Waters
1      65      208      dark hero
2      65      353      dark hero
3      65      521  noir thriller
4      65      592      dark hero

In [8]:
#retirando o atributo userid do dataset tags
tags.drop('userId',axis=1, inplace=True)
tags.head()

   movieId            tag
0     4141    Mark Waters
1      208      dark hero
2      353      dark hero
3      521  noir thriller
4      592      dark hero

In [21]:
# Unindo os datasets ratings e tags
ratings_tags = ratings.set_index('movieId').join(tags.set_index('movieId'))

MemoryError:

In [4]:
links = pd.read_csv('C:/Users/ASUS/Desktop/Testes Elo7/Dataset/links.csv')
print(links.shape)
links.head()

(27278, 3)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

(11709768, 3)

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

(1128, 2)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s